{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <form class="row" action="." method="get">
                <div class="col">
                    <input type="text" class="form-control" value="{{ form.query.value }}" id="{{ form.query.id_for_label }}" name="{{ form.query.html_name }}" placeholder="{{ form.query.label }}" aria-label="{{ form.query.label }}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="accordion" id="accordionPackages">
            {% for obj in object_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter0 }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
                        {{ obj.name }}
                    </button>
                </h2>
                <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionPackages">
                    <div class="accordion-body">
                        {% for key, value in obj.to_dict.items %}
                        <ul class="list-group list-group-horizontal row">
                            <li class="list-group-item col-2">{{ key }}</li>
                            <li class="list-group-item col-10">{{ value  }}</li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-auto">
        {% if page_obj.has_other_pages %}
        {% include "includes/paginator.html" with page_obj=page_obj %}
        {% endif %}
    </div>
</div>
{% endblock %}